NODE_ENV=development
PORT=3000

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=30m

# Database connection
DATABASE_URL="postgresql://user:pass@localhost:5432/db_name?schema=public"

# URL base da API externa de commodities (ex: http://localhost:8000)
EXTERNAL_API_URL=
# Integrations
TELEGRAM_BOT_TOKEN=

# SMTP (Email)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seuemail@gmail.com
SMTP_PASS=xxxx xxxx xxxx xxxx
SMTP_FROM=Commodities Analytics <seuemail@gmail.com>


GEMINI_API_KEY

